.home .card, .contributors.list .card, .blog.list .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

[dark] body .card {
    background: #212529;
    border: 1px solid #343a40;
}



html[data-mode="dark"] .card {
 	background: #242426;
    border: 1px solid #242426;   
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    margin: 1.5rem 0;
    
    position: relative;

}

html[data-mode="light"] .card {
 	background: #f2f5f7;
    border: 1px solid #fafafa;   
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    margin: 1.5rem 0;
    
    position: relative;

}




.row {
    --bs-gutter-x: 48px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
[dark] body {
    background: #212529;
    color: #dee2e6;
}


*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
::selection {
    background: rgba(212, 53, 159, 0.2);
}

@media (prefers-reduced-motion: no-preference)

*, *::before, *::after {
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en-US";
}
user agent stylesheet
html {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
::selection {
    background: rgba(212, 53, 159, 0.2);
}

.justify-content-center {
    justify-content: center !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
@media (min-width: 768px)
body {
    font-size: 1.125rem;
    /* padding-top: 4rem !important; */
}

