<!doctype html>
<html lang="{{ site.Language.Lang }}"{{ with site.Params.enableDarkMode }} class="dark"{{ end }}>
<head>
  {{- partial "head" . }}
</head>
<body class="page-{{ .Kind }}" id="pagetop">
  <header class="nav_header">
    {{- partial "nav" . }}
  </header>

  {{ if site.Params.uniqueHomepage }}
   {{ if .IsHome }}
    <div class="main-banner text-center pt-3 pb-3">
      <div class="">
        <h1 class=""><strong>Punny headline</strong></h1>
        <p class="">And an even wittier subheading to boot. Jumpstart your marketing <br> efforts with this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
    </div> 
    {{ end }}
  {{ end }}

  <div class="main wrap pt-2">
    {{ $docSections := site.Params.docSections }}
    {{- with $docSections }}{{- else }}
      {{- $docSections = "docs" }}
    {{- end }}
    {{ $uniqueHomepage := .IsHome }}
    {{ if site.Params.uniqueHomepage }}
      {{ if .IsHome }}
        {{ $uniqueHomepage = true }}
      {{ end }}
    {{ else }}
      {{ $uniqueHomepage = false }}
    {{ end }}
    {{- if and (in $docSections .Section) (ne $uniqueHomepage true) }}
      {{- partial "document" . }}
    {{- else }}
      <div class="content">
        {{- block "main" . }}{{ end }}
      </div>
    {{- end -}}
  </div>
  {{- partialCached "footer" . -}}
  {{- partialCached "sprites" . -}}
  {{- partialCached "scripts/bundle" . -}}
  {{- partial "scripts/other" . -}}

  
  {{ partial "cookie-notice.html" }}
 
</body>
</html>
